# Python
__pycache__/
*.py[cod]
*.egg-info/
/dist/
build/
*.egg

# Environment
.venv/
.env*
!.env.example
!.env.local.example

# OS
.DS_Store

# Frontend
/node_modules/
web/node_modules/
web-local/node_modules/
